<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body style="display: flex; justify-content: center; flex-wrap: wrap;" >
<h1 style="width: 100%; text-align: center;">Express + EJS 를 사용한 게시판</h1>
<div>
    <a href="/write" style="display: flex; justify-content: center;"><h3>글 쓰기</h3></a>

    <div>
        <% for(const post of posts) { %>
            <p>
                <span>글 제목: </span>
                <a href=<%= `/read/${post.id}` %>><%= post.title %></a>
            </p>
        <% } %>
      
        <hr/>
        <div class="pagination" style="display: flex; justify-content: center; gap: 10px;">
            <% if(pagination.startPage > 1) { %>
                <a href="/?page=<%= pagination.startPage - 1 %>">이전</a>
            <% } %>

            <% for(let i = pagination.startPage; i <= pagination.endPage; i++) { %>
                <a href="/?page=<%= i %>"
                        <%= pagination.page === i ? 'class="active"' : '' %>>
                    <%= i %>
                </a>
            <% } %>

            <% if(pagination.endPage < pagination.totalPages) { %>
                <a href="/?page=<%= pagination.endPage + 1 %>">다음</a>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>